body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f2f2f2;
    padding: 0 20px;
}

header {
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    font-size: 48px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.option img {
    transition: transform 0.5s ease-out, top 0.5s ease-out;

}

.option:hover img {
    transform: scale(1.2);
    top: -55px; 
}

.additional-text {
    display: none;
    transition: visibility 0.5s ease;
}

.option:hover .additional-text {
    display: block;
}

.additional-text {
    font-family: "poppins", sans-serif;
    font-size: 10px;
    color: grey;
}

h3 {
    font-family: "poppins", sans-serif;
    font-size: 12px;
    font-weight: 700;
}

span {
    display: flex;
    justify-content: center;
    font-size: 15px;
    font-weight: 800;
}

section {
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section h2 {
    display: flex;
    justify-content: center;
    font-family: "poppins", sans-serif;
    font-size: 32px;
    margin-bottom: 20px;
    font-weight: 800;
    color: #222;
    text-transform: uppercase;
}

section p {
    display: flex;
    justify-content: center;
    font-family: "poppins", sans-serif;
    font-size: 18px;
    margin-bottom: 30px;
}

form {
    width: 85%;
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: center;
}

form label {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(33.33% - 70px);
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
    margin-bottom: 30px;
    cursor: pointer;
}

.option {
    position: relative;
    transition: transform 0.5s ease-out; 
}

#blank-page-button {
    width: 40px; 
    height: 30px; 
    margin-right: 800px;
    margin-top: -38px;
    background-color: lightgrey;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.logo > img{
    width: 100px;
    margin-right: 1000px;
}
#blank-page-button:hover {
    background-color:grey;
}

.option:hover {
    border-color: #e75480;
    border-width: 2px;
    transform: scale(1.1);
}

.option input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 2px solid #ccc;
    outline: none;
    cursor: pointer;
    position: relative;
}

p {
    font-family: "poppins", sans-serif;
    color: grey;
    font-size: 14px;
}

.text1 {
    font-size: 15px;
}

a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: darkgrey;
}

a:hover {
    color: grey;
}

.option input[type="checkbox"]:checked::before {
    content: "\2713";
    font-size: 10px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.option input[type="checkbox"]:checked {
    background-color: palevioletred;
}

@media screen and (max-width: 768px) {
    form label {
        width: calc(50% - 30px);
    }
}

label:hover {
    background-color: white;
}

label img {
    width: 200px;
    margin-bottom: 10px;
}

button[type="submit"] {
    width: 20%;
    padding: 10px 20px;
    font-size: 24px;
    background-color: #e75480;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

@media screen and (max-width: 768px) {
    button[type="submit"] {
        width: 40%;
    }
}

button[type="submit"]:hover {
    background-color: palevioletred;
}

@media screen and (min-width: 768px) {

    header {
        height: 100vh;
    }

    header h1 {
        font-size: 48px;
    }

    form label {
        width: calc(33.33% - 70px);
    }
}

@media screen and (max-width: 480px) {
    
    .logo > img {
        width: 60px; 
    }

    header h1 {
        font-size: 36px; 
    }

    section {
        margin: 20px 0; 
    }

    section h2 {
        font-size: 20px; 

    section p {
        font-size: 14px;
    }

    form label {
        width: calc(100% - 20px);
    }

    button[type="submit"] {
        width: 80%;
    }
}
}